.container {
  display: grid;
  grid-template:
    "city city" min-content
    "img temp" min-content / min-content min-content;
}

.city {
  grid-area: city;
}

.temp {
  grid-area: temp;
  align-self: center;
}

.h1 {
  font-weight: 2rem;
}

.img {
  width: 150px;
  height: auto;
  grid-area: img;
}

.h2 {
  font-size: 4.5rem;
  font-weight: normal;
}

.p {
  word-wrap: break-word;
  max-width: 150px;
}

@media screen and (max-width: 992px) {
  .container {
    justify-self: center;
  }
}
