.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  justify-content: space-between;
  background-image: url("../public/25501.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  text-transform: uppercase;
}

.searchBar {
  margin-top: 10vh;
  align-self: center;
}

.weatherContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .weatherContainer {
    grid-template-columns: 1fr;
    align-content: space-around;
    justify-items: center;
    height: 50vh;
  }
  @media screen and (max-height: 660px) {
    .p {
      display: none;
    }

    .searchBar {
      margin-top: 5vh;
    }
  }
}

@media screen and (max-width: 480px) {
  .searchBar {
    margin-top: 5vh;
  }
  .p {
    display: none;
  }
}
